{% extends 'pgc.html' %}

{% block title %}Examination Committees{% endblock title %}

{% block body %}

<div>
    <form action="{% url 'add_committee' p_id %}" method = 'post'>
        {% csrf_token %}
        <div style = "display:inline-block;">
        {{form}}</div>
        <button type = "submit" class = "btn btn-success">+Create</button>
    </form>

    <div class="my-5">
        <h3 class = "m-2"> Projects </h3>
        <table class="table table-striped shadow rounded my-2">
          <thead class = "table-dark">
              <tr class = "table-dark">
                <th scope="col">Sr. No.</th>
                <th scope="col">Committee ID</th>
                <th scope="col">Committee Members</th>
              </tr>
            </thead>
            <tbody>
              {% for committee in committees  %}
              <tr>
                <td> {{ committee.committee_id }} </td>
                <td> {{ committee.id }} </td>
                <td>
                    {% for obj in committee.assigned_faculty.all %}
                        <table>
                            <tr>{{obj}}</tr>
                        </table>
                    {% endfor %}
                </td>
              </tr>
              {% endfor %}
            </tbody>
            </table>
            <a href="{% url 'logout'%}" class="nav-link text-white">
                <svg class="bi pe-none me-2" width="16" height="16">
                    <use xlink:href="#grid" />
                </svg>
                Logout
            </a>
    
</div>
</div>

{% endblock body %}