{% extends 'pgc.html' %}

{% block title %}Exam Schedule{% endblock title %}

{% block body %}

<form action="" method="POST" enctype="multipart/form-data" class="form-horizontal">
    {% csrf_token %}
    <div class="form-group" style="display: flex; margin-top: 22px;">
        <label for="name" class = "mx-2"><h4>Add Schedule: </h4></label>
        <div>
            <input type="file" name="csv_file" id="csv_file" required="True" class="form-control">
        </div>
        <div>
            <div style="margin: 0px 20px">
                <button class="btn btn-primary" type="submit" name="add_schedule"> <span
                        class="glyphicon glyphicon-upload" style="margin-right:5px;"></span>Upload </button>
            </div>
        </div>
        <div>
            <div style="margin: 0px 5px">
                <a href="/excel" type = "button" class = "btn btn-primary">Project List</a>
            </div>
        </div>
    </div>

</form>

<div class="my-5">
    <h3 class="m-2"> Projects </h3>
    <table class="table table-striped shadow rounded my-2">
        <thead class = "table-dark">
            <tr class="table-dark">
                <th scope="col">Sr. No.</th>
                <th scope="col">Student IDs</th>
                <th scope="col">Faculty Name</th>
                <th scope="col">Group Title</th>
                <th scope="col">Date</th>
                <th scope="col">Time</th>
                <th scope="col">Venue</th>
                <th scope="col">Examiners</th>
            </tr>
        </thead>
        <tbody>
            {% for group in groups %}
            <tr>
                <td> {{ forloop.counter }} </td>
                <td> {{ group.student_id }} </td>
                <td> {{ group.sub_project_id.related_faculty }} </td>
                <td> {{ group.group_title }} </td>
                <td> {{ group.schedule.date }} </td>
                <td> {{ group.schedule.time }} </td>
                <td> {{ group.schedule.venue }} </td>
                <td>
                    <table>
                        {% for name in group.schedule.committee_id.assigned_faculty.all %}
                        <tr>
                            <td>{{name}}</td>
                        </tr>
                        {% endfor %}
                    </table>
                </td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
</div>

{% endblock body %}